body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('../images/background.png') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url(../images/instagram.png);

}

.linkedin{
    list-style-image: url(../images/linkedin.png);
}

.github{
    list-style-image: url(../images/github.png);
}